body {
	background-color: #fccfe2;
}

.header {
	padding-top: 8px;
	padding-bottom: 2px;
	padding-left: 20px;
	font-family: monospace, sans-serif;
}

.navbar a {
	float: left;
	color: #2c3e50;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
	font-size: 17px;
	font-family: monospace, sans-serif;
}

.navbar a:hover {
	/*background-color: #ff69b4;*/
	color: #ecf0f1;
	/*border-radius: 8px;*/
	text-shadow: 2px 2px 5px #ff69b4;
}

.content {
	float: left;
	padding-left: 20px;
	clear: both;
	font-family: monospace, sans-serif;
}

/* The grid container */
.gallery-container {
  display: grid;
  grid-template-areas:  
    'left right';
  grid-column-gap: 10px;
  grid-template-columns: repeat( 2, minmax(250px, 1fr) );
} 

.left,
.right {
  padding: 10px;
}

.left img {
	width: auto;
	max-height: 300px;
	transition: 0.2s;
}

.right img {
	width: auto;
	max-height: 300px;
	transition: 0.2s;
}

.left img:hover {
	opacity: 0.7;
}

.right img:hover {
	opacity: 0.7;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .gallery-container  {
    grid-template-areas:  
    	'left left'
    	'right right';
  }
}

@media(max-width: 480px) {
	.gallery-container {
		grid-template-areas:
			'left'
			'right';
	}
}

.footer {
	text-align: center;
	clear: both;
}